node_modules
.env
.env.*
dist
build
*.local
.tmp
.tsbuildinfo
database.json
out
bin
obj
.next
.nuxt
.cache
.parcel-cache
.yarn
.pnp
.pnp.js
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.eslintcache
.stylelintcache
.docusaurus
.serverless
.fusebox
.dynamodb
.gemini
.agents
*.log
